html{
    background-image: url("dairy_cows.jpg");
    background-size: cover;
}

main{
    background-color:rgba(224,255,255, 0.6);
    width: 30%;
    height: 100vh;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 20px;
    padding-left: 275px;
    padding-right: 275px;
    padding-top: 20px;
    align-content: center;
}

.single-sheds{
    font-size:x-large;
    color: chartreuse;
    padding: 5px 0 5px 0;
    border: 2px solid chocolate;
    border-radius: 5px;
    margin: 10px;
}

.total-produce{
    font-size: x-large;
    font-weight: 400;
    color:darkblue;
    padding: 5px 0 5px 0;
    border: 2px solid chocolate;
    border-radius: 5px;
    margin: 10px;
}

.estimated-earnings{
    font-size: x-large;
    font-weight: 400;
    color:darkblue;
    padding: 5px 0 5px 0;
    border: 2px solid chocolate;
    border-radius: 5px;
    margin: 10px;
}

h1{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    padding: 10px;
    margin: 2px;

}

button{
    color: lime;
    padding-left: 30px;
    margin: 2px;
}